.row {
	display: flex;
	margin-left: -16px;
	margin-right: -16px;

	[class^='.col-'] {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.col-5 {
	 width: calc((5 / 12) * 100%);
}

.col-7 {
	width: calc((7 / 12) * 100%);
}
