.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid $color-gray-dark;
	background-color: $color-white;
	width: 960px;
	display: none;

	&__header {
		padding: 20px;
		border-bottom: 1px solid $color-gray-dark;
	}

	&__body {
		padding: 16px 20px;
	}

	&.is-active {
		display: block;
	}
}
